<div class="large-4 columns move-options">
    <div class="row">
        <div class="large-8 large-offset-2 columns">
            <img src="/images/paper.png" width="225" height="225">
            <br>
            <img src="/images/rock.png" width="225" height="225">
            <br>
            <img src="/images/scissors.png" width="225" height="225">
        </div>
    </div>
</div>