<br>
<br>
<h1 class="text-centered"><strong>Available Matches</strong></h1>


<br>
<br>
<form align="center" method="post" action="/iplay">
	<% @result.each do |result| %>
		<input type="radio" name="match_id" value="<%= result['id'] %>" >
		&nbsp;<%= result['player1'] %>'s match. 
		<br>
	<% end %>
	<input type="hidden" name="username" value="<%= @username %>">
	<br>
	<input class="tiny button" type="submit" >
</form>