<!DOCTYPE html>
<html>
<head>
  <title>Pig Latin Translator</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.css">
</head>
<body>
	<span>layout working => </span>
	</br>
  	<%= yield %>
  </br>
  <span>layout end => </span>
</body>
</html>