<br>
<br>

<h1 class="text-centered"><strong>Sorry Bro...</strong></h1>

<form align="center">
<h2><%= @error %></h2>
</form>


<br>
<br>
<form align="center">
<a href="/signup" class="button">Click Here to Try Again</a>
</form>