<!-- Layout start -->

		<!-- <a href="/signin">Sign In</a></br>
		<a href="/signup">Sign Up</a> -->

<!-- Layout end -->



<br>
<br>

<div align="center">

<div class="row">
        <div class="large-8 large-offset-2 columns">

            <img src="/images/sign-up-to-start.jpg" width="700" height="300">

        </div>
    </div>

<a href="/signup"><input class="button small" id="sign-up" type="button" value="Sign Up" /></a>