<br>
<br>

<h1 align="center"><strong>Welcome Back</strong> <%= @username %></h1>
<br>
<br>
<div class="row">
	<div class="large-5 large-centered columns">
		<a href="#" data-dropdown="drop1" class="button dropdown">What would you like to do today?</a>
		<br>
		<ul id="drop1" data-dropdown-content class="f-dropdown">

		  <li><form method="post" action="/newmatch">
						<input type="hidden" name="username" value="<%= @username %>">
						<input type="submit" value="Start New Match">
					</form>
			</li>

		  <li>
		  	<form method="post" action="/joinmatch">
		  		<input type="hidden" name="username" value="<%= @username %>">
		  		<input type="submit" value="Join Match">
		  	</form>
		  </li>

		  <li>
		  	<form method="post" action="/currentmatch">
		  		<input type="hidden" name="username" value="<%= @username %>">
		  		<input type="submit" value="Resume Match">
		  	</form>
		  </li>

		</ul>
	</div>
</div>





