<br>
<br>

<h1 align="center"><strong>Welcome Back</strong> <%= @username %></h1>
<br>
<br>
<div class="row">
	<div class="large-5 large-centered columns">
		<a href="#" data-dropdown="drop1" class="button dropdown">What would you like to do today?</a>
		<br>
		<ul id="drop1" data-dropdown-content class="f-dropdown">

		  <li><a href="/newmatch">Start a New Match</a></li>
		  <li><a href="/currentmatch">Join Current Match</a></li>
		  <li><a href="/joinmatch">Find Open Match</a></li>
		  
		</ul>
	</div>
</div>



